body{
    background-color: bisque;
}
.nav-container{
    width: 65%;
    margin: auto;
    padding: 1rem;
}
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 1rem;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 0.5rem;
}

.btn-check{
    margin-top: 1rem;
}