body{
    background-color: aquamarine;
}
.nav-container{
    width: 65%;
    margin: auto;
    padding: 1rem;
}
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 1rem;
}
.container{
    border: 1px solid teal;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    width: 50%;
}

#btn-check{
    margin-top: 1rem;
}